*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

.nav-item a
{
    color:#0090CB !important;
    font-size:1.5rem;
}
.custom-input
{
    margin:100px auto;
}
#csv-output
{
    overflow-x: scroll;
}
#myChart
{
    height:200px !important;
    width:200px !important;
}
/*Responsiveness*/
@media only screen and (max-width:780px)
{
   
    
}